<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="footer" th:fragment="footer">
    <div class="container-fluid">
        <div class="col-md-5">
        <nav class="pull-left">

            <p style="font-size: 12px">
                Trainee ID : 1244155 , Trainee Name : Israt Jahan
                <br/>
                Batch Id : J2EE/CCSL-M/01 , Project Name : Jahan Car Rental
                <br/>
                Instructed By : Md. Rajaul Islam Trainer J2EE CCSL.
                <br/>
                Submitted To : Md. Moshaidul Islam,Consultant IDB-BISEW
            </p>
            <!--<ul>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--Home-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--Company-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--Portfolio-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--Blog-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        </nav>
        </div>
        <div class="col-md-7">
       <p class="copyright pull-right text-right">
           <marquee> &copy; <script>document.write(new Date().getFullYear())</script> <a href="#">Jahan Car Reantal</a>, All Rights Reserved.....
        </marquee>


                <button th:href="@{https://en-gb.facebook.com/}" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button th:href="@{https://twitter.com/?lang=en}" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button th:href="@{https://plus.google.com/discover}" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

       </p>
        </div>
    </div>
</footer>


</body>
</html>