<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="footer" th:fragment="footer">
    <div class="container-fluid">
        <div class="col-md-5">
        <nav class="pull-left">

            <p style="padding-top:15px ; font-size: 12px">
                <b>Trainee ID :</b> 1244155 , <b>Trainee Name :</b> Israt Jahan
                <br/>
                <b>Batch Id :</b> J2EE/CCSL-M/01 , <b>Project Name :</b> Jahan Car Rental
                <br/>
                <b>Instructed By :</b> Md. Rajaul Islam, Trainer(J2EE), CCSL
                <br/>
                <b>Submitted To :</b> Md. Moshaidul Islam, Consultant, IDB-BISEW
            </p>
            <!--<ul>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--Home-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--Company-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--Portfolio-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--Blog-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        </nav>
        </div>
        <div class="col-md-7">
       <p class="copyright pull-right text-right">
           <marquee> &copy; <script>document.write(new Date().getFullYear())</script>
               <a href="#">Jahan Car Reantal</a>, All Rights Reserved.....
           </marquee>


                <a th:href="@{https://en-gb.facebook.com/}"><button class="btn btn-simple"><i class="fa fa-facebook-square"></i></button></a>
                <a th:href="@{https://twitter.com/?lang=en}"><button class="btn btn-simple"><i class="fa fa-twitter"></i></button></a>
                <a th:href="@{https://plus.google.com/discover}"><button class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button></a>

       </p>
        </div>
    </div>
</footer>


</body>
</html>