<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="sidebar" data-color="black" data-image="/assets/img/sidebar-7.jpg" th:fragment="sidebar">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                <i class="pe-7s-menu"></i>
                Manu
            </a>
        </div>

        <ul class="nav">
            <!--<li class="active">-->
            <li class="dropdown">
                <a href="/">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="dropdown">
                <a href="/carsphoto">
                    <i class="pe-7s-photo"></i>
                    <p>Our Cars</p>
                </a>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="pe-7s-door-lock"></i>
                    <p>Booking</p>
                </a>
                <ul class="dropdown-menu">
                    <li><a style="color: black!important;" href="/booking/add">Booking From</a></li>
                    <li><a style="color: black!important;" href="/booking/list">Booking Detail</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="pe-7s-users"></i>
                    <p>Role</p>
                </a>
                <ul class="dropdown-menu">
                    <li><a style="color: black!important;" href="/role/add">Add role</a></li>
                    <li><a style="color: black!important;" href="/role/list">Role list</a></li>
                </ul>
            </li>



            <li class="dropdown ">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>

                    </a>
                <ul class="dropdown-menu shusmo-dropdown" >
                    <li><a style="color: black!important;" th:href="@{/user/add}">Add user</a></li>
                    <!--<li><a style="color: black!important;" th:href="@{/user/edit}">Edit user</a></li>-->
                    <li><a style="color: black!important;" th:href="@{/user/list}">User list</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="pe-7s-network"></i>
                    <p>Category</p>
                </a>
                <ul class="dropdown-menu">
                    <li><a style="color: black!important;" href="/category/add">Add Category</a></li>
                    <li><a style="color: black!important;" href="/category/list">Categoty list</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="pe-7s-car"></i>
                    <p>Car</p>
                </a>
                <ul class="dropdown-menu">
                    <li><a style="color: black!important;" href="/car/add">Add Car</a></li>
                    <li><a style="color: black!important;" href="/car/list">Car Detail</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="pe-7s-home"></i>
                    <p>Address</p>
                </a>
                <ul class="dropdown-menu">
                    <li><a style="color: black!important;" href="/address/add">Address From</a></li>
                    <li><a style="color: black!important;" href="/address/list">Address list</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="pe-7s-culture"></i>
                    <p>Agency</p>
                </a>
                <ul class="dropdown-menu">
                    <li><a style="color: black!important;" href="/agency/add">Agency From</a></li>
                    <li><a style="color: black!important;" href="/agency/list">Agency list</a></li>
                </ul>
            </li>





            <li>
                <a href="maps.html">
                    <i class="pe-7s-map-marker"></i>
                    <p>Maps</p>
                </a>
            </li>
            <!--<li class="active-pro">-->
            <li class="active-pro">
                <a href="#">
                    <i class="pe-7s-rocket"></i>
                    <p>Report</p>
                </a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>