<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.example.springfirstproject.Address">
        <constructor-arg value="Dhanmondi"></constructor-arg>
        <constructor-arg value="Dhaka"></constructor-arg>
        <constructor-arg value="Bangladesh"></constructor-arg>
    </bean>

    <bean id="student" class="com.example.springfirstproject.Student">
        <constructor-arg value="100"></constructor-arg>
        <constructor-arg value="kirkira"></constructor-arg>
        <constructor-arg>
            <ref bean="address"/>
        </constructor-arg>
        <constructor-arg>
            <ref bean="department"/>
        </constructor-arg>
    </bean>

    <bean id="department" class="com.example.springfirstproject.Department">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="Marketing"></constructor-arg>

    </bean>

</beans>