<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:text="${successMsg}"></span>
<form th:object="${role}" method="post" th:action="@{/role/add-role}">
       Name :
        <input type="text" th:field="*{roleName}"/>
        <td th:class="error" th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}"/>
        <i th:class="error" th:text="${exMsg}"></i>

    <button type="submit">Save</button>
<br/>
    <a th:href="@{/}">Home</a>
</form>
</body>
</html>