<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Update Registration Information of Car</title>
</head>
<body>
<div layout:fragment="custom-content">
    <br/><br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card min-height-box">
                        <div class="header">
                            <h4 class="title">Update Registration Information of Car</h4>
                        </div>
                        <div class="content">
                            <form th:object="${car}" th:action="@{/car/edit/}+${id}" method="post">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Agency</b></label>
                                            <div >
                                                <select th:field="*{agency}" class="form-control" >

                                                    <option th:each="agency : ${agencylist}" th:value="${agency.id}"><span th:text="${agency.name}"></span></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Category</b></label>
                                            <div >
                                                <select th:field="*{category}" class="form-control" >

                                                    <option th:each="category : ${categorylist}" th:value="${category.id}"><span th:text="${category.name}"></span></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Car Number</b></label>
                                            <input type="text"  th:field="*{carNumber}" class="form-control" placeholder="Enter car number" required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label ><b>Car Model</b></label>
                                            <input type="text"  th:field="*{carModel}"class="form-control"  placeholder="Enter Car Model" required="true">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><b>Color</b></label>
                                            <input type="text"  th:field="*{color}" class="form-control"  placeholder="Enter car color" required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><b>No. Of Seats</b></label>
                                            <input type="text"  th:field="*{noOfSeats}" class="form-control"  placeholder="Enter number of Seats of the Car" required="true">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><b>Date of Manufacture</b></label>
                                            <input type="date" th:text="${#dates.format(car.dateOfManufacture, 'yyyy-MM-dd')}" th:field="*{dateOfManufacture}"  class="fa-calendar form-control" placeholder="Enter Manufacture Date">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><b>Fare Per Day</b></label>
                                            <input type="text" th:field="*{farePerDay}"  class="form-control" placeholder="Enter Per Day Fare Amount">
                                        </div>
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-info btn-fill pull-right">Update</button>

                                <span th:class="succes" th:text="${successMsg}"></span>
                                <span th:class="err" th:text="${rejectMsg}"></span>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-user">

                        <div class="gif">
                            <img th:src="@{/assets/img/faces/dulex.gif}" alt="..."/>

                        </div>

                        <hr>

                        <div class="gif">
                            <img th:src="@{/assets/img/faces/tt.gif}" alt="..."/>

                        </div>

                        <hr>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
            <!--inner block end here-->
</body>
</html>