<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="custom-content">
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">About Us</h4>
                    </div>
                    <div class="content min-height-box">


                        <p>

                        <p class="separator">


                        <p>
                            <u><b><i>Jahan Car Rental</i></b></u> is the prominent and largest transport solutions provider in Dhaka, Bangladesh.
                        We are the best and popular car rent service provider in Dhaka Bangladesh.
                        Jahan Car Rental in Dhaka is an ongoing Bangladeshi success story here. Now a days our massive/huge network will help you to
                        find your preferred/desired transport  in due time,date and place also.

                            Jahan Car Rental in Dhaka, Bangladesh is a house where you will get all kinds of rent a car service to move across
                        Bangladesh at any time. In our fleet we have more than hundred vehicle as well as pick up points.

                             Jahan Car Rental have large number of vehicle of latest model and version for rent-a-car in Dhaka, Bangladesh.
                        Jahan Car Rental fleet we have world class modern vehicle like as Toyota, Nissan, Honda, Mitsubishi, Mercedes Benz,
                        BMW, Hyundai and many more.

                            In our fleet all cars have latest model, interior and exterior is very clean and latest technological updated for rent a car in Dhaka  and any where in Bangladesh.

                            The major fleet point of Jahan Car Rental in Bangladesh are Dhaka.

                            We operate smooth rent a car service for our clients by using our pick up points across Bangladesh.


                        </p>
                        </p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">

                <div class="card card-user">

                    <div class="giff">
                        <img th:src="@{/assets/img/faces/car.gif}" alt="..." height="500px" width="380px"/>

                    </div>

                    <!--<hr>-->

                    <!--<div class="gif">-->
                        <!--<img th:src="@{/assets/img/faces/tt.gif}" alt="..."/>-->

                    <!--</div>-->

                    <hr>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>