<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="custom-content">
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">About Us</h4>
                    </div>
                    <div class="content min-height-box">


                        <p>
                        <p class="p-heading">JAHAN in Bangladesh</p>
                        <p class="separator">
                        <p><u><b><i>JAHAN car rental</i></b></u> service in Bangladesh take you through an amazing
                            journey
                            while providing you with the
                            flexibility of exploring this diverse nation at your own pace. We have our car hire outlets
                            located
                            at all the major location in Bangladesh making it really convenient for our clients to pick
                            up
                            their
                            chosen car.No matter how short.</p></p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card card-user">

                    <div class="gif">
                        <img th:src="@{/assets/img/faces/dulex.gif}" alt="..."/>

                    </div>

                    <hr>

                    <div class="gif">
                        <img th:src="@{/assets/img/faces/tt.gif}" alt="..."/>

                    </div>

                    <hr>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>