<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="custom-content">


    <!--inner block start here-->
    <div class="inner-block">
        <div class="product-block">
            <div class="pro-head">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h2 class="title"><i class="pe-7s-car"></i>    Our Cars</h2>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div >  <a th:href="@{assets/img/car-6.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-6.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>Hatchback</h4>
                        <h5>Maruti Suzuki Alto 800</h5>
                        <h5>2000 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div >  <a th:href="@{assets/img/car-2.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-2.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>MPV</h4>
                        <h5>Maruti Suzuki Omni</h5>
                        <h5>2500 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div ><a th:href="@{assets/img/car-3.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-3.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>Sedan</h4>
                        <h5>Maruti Suzuki Ciaz</h5>
                        <h5>2500 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div >  <a th:href="@{assets/img/car-4.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-4.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>Hatchback</h4>
                        <h5>Mini Cooper S 3 Door</h5>
                        <h5>30000 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div >  <a th:href="@{assets/img/car-5.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-5.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>Coupe</h4>
                        <h5>Ford Mustang</h5>
                        <h5>2000 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div > <a th:href="@{assets/img/car-1.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-1.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>Crossover</h4>
                        <h5>Hyundai i20 Acvtive</h5>
                        <h5>2500 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div > <a th:href="@{assets/img/car-7.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-7.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>SUV</h4>
                        <h5>Skoda Yeti</h5>
                        <h5>2000 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div >  <a th:href="@{assets/img/car-8.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-8.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>Convertible</h4>
                        <h5>Mercedes-AMG SLC 43</h5>
                        <h5>2500 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div >  <a th:href="@{assets/img/car-9.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-9.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>Crossover</h4>
                        <h5>Maruti Suzuki S-Cross</h5>
                        <h5>2500 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div > <a th:href="@{assets/img/car-10.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-10.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>Sedan</h4>
                        <h5>Maruti Suzuki Ciaz</h5>
                        <h5>3000 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div >  <a th:href="@{assets/img/car-11.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-11.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>SUV</h4>
                        <h5>Datsun Go+</h5>
                        <h5>2000 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-grid">
                <div class="product-items">
                    <div class="project-eff">
                        <div >  <a th:href="@{assets/img/car-12.jpg}" data-lightbox-gallery="gallery1" ><span class="rollover1"> </span> </a></div>
                        <img class="img-responsive" th:src="@{assets/img/car-12.jpg}" alt="">
                    </div>
                    <div class="produ-cost">
                        <h4>MPV</h4>
                        <h5>Maruti Suzuki Ecco</h5>
                        <h5>2500 Tk per day</h5>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--inner block end here-->
</div>
</body>
</html>