<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Update Branch Address</title>
</head>
<body>
<div layout:fragment="custom-content">
    <br/><br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card min-height-box">
                        <div class="header">
                            <h4 class="title">Update Branch Address</h4>
                        </div>
                        <div class="content">
                            <form th:object="${address}" th:action="@{/address/edit/}+${id}" method="post">
                                <div class="row">
                                    <!--<div class="col-md-4">-->
                                        <!--<div class="form-group">-->
                                            <!--<label><b>Role</b></label>-->
                                            <!--<div >-->
                                                <!--<select th:field="*{}" class="form-control" multiple>-->

                                                    <!--<option th:each="role : ${rolelist}" th:value="${role.id}"><span th:text="${role.roleName}"></span></option>-->
                                                <!--</select>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><b>Location</b></label>
                                            <input type="text"  th:field="*{location}" class="form-control" placeholder="Enter location" required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <!--<label for="exampleInputEmail1">Email address</label>-->
                                            <label ><b>City</b></label>
                                            <input type="text"  th:field="*{city}"class="form-control"  placeholder="Enter City" required="true">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><b>District</b></label>
                                            <input type="text"  th:field="*{district}" class="form-control"  placeholder="Enter district" required="true">
                                        </div>
                                    </div>
                                    <!--<div class="col-md-4">-->
                                    <!--<div class="form-group">-->
                                    <!--<label ><b>Mobile Number</b></label>-->
                                    <!--<input type="text"  th:field="*{mobile}" class="form-control"  placeholder="Enter Mobile number" required="true">-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><b>Division</b></label>
                                            <input type="text" th:field="*{division}"  class="form-control" placeholder="Enter Division">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label ><b>Country</b></label>
                                            <input type="text" th:field="*{country}"  class="form-control" placeholder="Enter Country">
                                        </div>
                                    </div>
                                </div>





                                <button type="submit" class="btn btn-info btn-fill pull-right">Update</button>

                                <span th:class="succes" th:text="${successMsg}"></span>
                                <span th:class="err" th:text="${rejectMsg}"></span>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-user">

                        <div class="giff">
                            <img th:src="@{/assets/img/faces/car.gif}" alt="..." height="700px" width="390px"/>

                        </div>

                        <hr>

                        <!--<div class="gif">-->
                            <!--<img th:src="@{/assets/img/faces/savlon.gif}" alt="..."/>-->

                        <!--</div>-->

                        <!--<hr>-->

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
            <!--inner block end here-->
</body>
</html>