<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>roleform</title>
</head>
<body>
<span th:text="${exMsg}"></span>
<form th:object="${role}" method="post" th:action="@{/add-role}">
    Name :
    <input type="text" th:field="*{rolename}"/>
    <span th:if="${#fields.hasErrors('rolename')}" th:errors="*{rolename}"></span>
    <i th:text="${scMsg}"></i>
    <br/>
    <button type="submit">SaveRole</button>
    <br/>
    <a th:href="@{/role-list}">Role list</a>
    <br/>
    <a th:href="@{/}">Add User</a>
</form>
</body>
</html>