<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <form th:object="${student}" th:action="@{/}" th:method="POST">

    <a th:href="@{/add}" >Add Student</a>
    <a th:href="@{/role-list}" >Show Roles</a>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Course</th>
                <th>Round</th>
                <th>Birth Date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            <tr th:each="u : ${list}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.name}"></td>
                <td th:text="${u.email}"></td>
                <td th:text="${u.mobile}"></td>
                <td th:text="${u.age}"></td>
                <td th:text="${u.gender}"></td>
                <td><span th:each="c : ${u.courses}">
                    <span th:text="${c}">
                    </span>
                </span>
                </td>
                <td th:text="${u.round}"></td>
                <td th:text="${u.birthDate}" th:pattern="yyyy-MM-dd"></td>
                <td><a th:href="@{'/edit/' + ${u.id}}">Update</a></td>
                <td><a th:href="@{'/del/' + ${u.id}}">Delete</a></td>
            </tr>
        </table>

    </form>
</body>
</html>